*{
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.home {
    font-weight: bold;
}
h1 {
    font-size: 60px;
    padding: 50px;
    padding-top: 75px;
    padding-bottom: 0;
}
.text-presentation {
    padding: 50px;
    padding-top: 25px;

}
.consultation-bottom{
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: #000;
    margin: 50px;
    border-radius: 15px;
    letter-spacing: 2px;
    word-spacing: 10px;
}
.marketing-vector {
    height: 250px;
}
.presentation {
    width: 580px;
}
.marketing-vector {
    height: 400px;
}